{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}
    {{ include('partiel/flash.html.twig') }}
    <h1>Liste</h1>
    <table class="table">
        <thead>
            <tr>
                <td>Produit</td>
                <td>Description</td>
                <td>Prix</td>
                <td>Categorie</td>
                <td>Image</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            {% for produits in produit %}
                <tr>
                    <td>{{ produits.Produit }}</td>
                    <td>{{ produits.Description }}</td>
                    <td>{{ produits.Prix }} Ar</td>
                    <td>{{ produits.Categorie.Categorie }}</td>
                    <td style="height:100px !important;">
                        <img src="{{ vich_uploader_asset(produits, 'ImageFile') }}" class="img-fluid">
                    </td>
                    <td>
                        <a href="{{ path('app_produit_update',{id:produits.id}) }}" class="btn btn-primary">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
