{% extends 'produit.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <div class="container">
        {{ include('partiel/flash.html.twig') }}
    </div>
    <div class="container">
        <div class="sous-menu">
            <div class="title">
                <h1>Liste</h1>
                <a href="{{ path('app_produit_insert') }}" class="btn btn-outline-success btn-sm">
                    <i class="fas fa-plus-circle"></i>
                    AJOUTER
                </a>
            </div>
            <form>
                <div>
                    <input type="text" class="form-control" placeholder="recherche...">
                    <button class="btn btn-sm" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <td>Produit</td>
                <td>Description</td>
                <td>Prix</td>
                <td>Categorie</td>
                <td>Image</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            {% for produits in produit %}
                <tr>
                    <td>{{ produits.Produit }}</td>
                    <td>{{ produits.Description }}</td>
                    <td>{{ produits.Prix }} Ar</td>
                    <td>{{ produits.Categorie.Categorie }}</td>
                    <td class="pimage">
                        <img src="{{ vich_uploader_asset(produits, 'ImageFile') }}" class="img-fluid" style="width:100px !important;">
                    </td>
                    <td style="display:flex !important;column-gap:2px !important;align-items:center !important">
                        <a href="{{ path('app_produit_update',{id:produits.id}) }}" class="btn btn-primary btn-sm">Edit</a>
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
