{% extends 'produit.html.twig' %}

{% block title %}Facture{% endblock %}

{% block body %}
    <div class="mt-4 mb-2">
        <a href="{{ path('app_facture_index') }}" class="btn btn-primary">COMMANDE NON FACTUREE</a>
        <a href="{{ path('app_facture_facturer') }}" class="btn btn-secondary">COMMANDE FACTUREE</a>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                {# <td>DateCommande</td> #}
                <td>Numero Facture</td>
                <td>Date Facture</td>
                {# <td>Client</td> #}
            </tr>
        </thead>
        <tbody>
            {% for commandes in commande %}
                <tr>
                    <td>{{ commandes.NumeroFacture }}</td>
                    <td>
                        <a href="{{ path('app_facture_voire',{id:commandes.id}) }}" class="btn btn-success btn-sm">VOIR</a>
                    </td>
                    {# <td>{{ commandes.ModeP }}</td> #}
            {% else %}
            <tr>
                <td colspan="7">AUCUN COMMANDE EFFECTUER</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
